<div class="row row-cols-1 row-cols-lg-4 row-cols-xl-4">
    <div class="col">
        <div class="card rounded-4 bg-gradient-purple">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="">
                        <h4 class="mb-0 text-white">@ViewBag.totalMessagesCount</h4>
                        <p class="mb-1 text-white">Mesaj Sayımız</p>
                    </div>
                    <div class="ms-auto fs-3 text-white">
                        <i class="bi bi-hand-thumbs-up-fill"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card rounded-4 bg-gradient-voilet">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="">
                        <h4 class="mb-0 text-white">@ViewBag.totalArticleCount</h4>
                        <p class="mb-1 text-white">Yurt Dışı İle Alakalı Makale Sayımız</p>
                    </div>
                    <div class="ms-auto fs-3 text-white">
                        <i class="bi bi-file-earmark-text"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card rounded-4 bg-gradient-danger">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="">
                        <h4 class="mb-0 text-white">@ViewBag.totalPoliciesCount</h4>
                        <p class="mb-1 text-white">Poliçe Sayımız</p>
                    </div>
                    <div class="ms-auto fs-3 text-white">
                        <i class="bi bi-shield-check"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card rounded-4 bg-gradient-success">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="">
                        <h4 class="mb-0 text-white">@ViewBag.totalPoliciesByThisMonthCount</h4>
                        <p class="mb-1 text-white">Bu Ay Poliçe Satış Miktarı</p>
                    </div>
                    <div class="ms-auto fs-3 text-white">
                        <i class="bi bi-cash-stack"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-lg-4 row-cols-xl-4">
    <div class="col">
        <div class="card rounded-4 bg-gradient-desert">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="">
                        <h4 class="mb-0 text-white">@ViewBag.totalToxicCommentCount</h4>
                        <p class="mb-1 text-white">Toksik Yorum Sayısı</p>
                    </div>
                    <div class="ms-auto fs-3 text-white">
                        <i class="bi bi-chat-left-text-fill"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card rounded-4 bg-gradient-info">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="">
                        <h4 class="mb-0 text-white">@ViewBag.totalApprovedCommentCount</h4>
                        <p class="mb-1 text-white">Onaylanan Yorum Sayısı</p>
                    </div>
                    <div class="ms-auto fs-3 text-white">
                        <i class="bi bi-chat-left-text-fill"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card rounded-4 bg-gradient-branding">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="">
                        <h4 class="mb-0 text-white">@ViewBag.LastRevenueAmount ₺</h4>
                        <p class="mb-1 text-white">Son Yapılan Poliçe Tutarı</p>
                    </div>
                    <div class="ms-auto fs-3 text-white">
                        <i class="bi bi-shield-check"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card rounded-4 bg-gradient-royal">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="">
                        <h4 class="mb-0 text-white">@ViewBag.totalPricingPlanCount</h4>
                        <p class="mb-1 text-white">Ödeme Plan Sayısı</p>
                    </div>
                    <div class="ms-auto fs-3 text-white">
                        <i class="bi bi-cash-coin"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--end row-->